/*.element__like-button_liked {
    background-image: url(../../../../image/like__active.svg);
    background-size: 22px 19px;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
}*/